html {
    font-size: 22px;
}

body {
    background-color: rgb(0, 140, 255);
    color: rgb(56, 56, 56);
}
input:in-range { background-color: aqua;}
input:out-of-range{ background-color: greenyellow;}
table, th, td {
border: 1px solid;
padding: 5px;
}
tbody tr:nth-child(odd){
    background-color: red;
}