html{
    background-color: rgb(0, 170, 255);
   
}
div{
    color: rgb(72, 0, 255);
border-width: .5px;
}
input:in-range { background-color: rgb(30, 255, 0);}
input:out-of-range{ background-color: rgb(255, 0, 0);}
